<!DOCTYPE HTML>
<html>
  <head>
    <title>Titulo</title>
  </head>
  <body>
    
    <div id="eventosLog">
    </div>

    <div class="mouseListener" style="border:1px solid yellow; height:200px; width:200px;">
    </div>

    <input type="text" name="x" />
    <input type="text" name="y" />

      <ul>
          <li>Jonas</li>
          <li>Nahum</li>
          <li class="fade">Jimenez</li>
          <li class="fade">Garcia</li>
      </ul>

    <input type="button" value="Mybutton" />
      
    <a href="@Url.Action("Index","Home")">Regresar</a>

    <script type="text/javascript" src="@Url.Content("~/Scripts/Jonas/jquery-2.1.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Jonas/EventosJQuery.js")"></script>

  </body>
</html>
