<!DOCTYPE HTML>
<html>
  <head>
    <title>Titulo</title>
  </head>
  <body>
    <div id="persona">
        
    </div>
    <a href="@Url.Action("Index","Home")">Regresar</a>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Jonas/TiposDeClases.js")"></script>
  </body>
</html>
